<!-- Register Modal -->
<div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrarse: <%= flash[:ftitle] %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid basicinfo">
          <div class="row">
            <div class="col">
              <h2 class="registerhead">Basic information</h2>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row form-group">
            <div class="col"></div>
            <div class="col-8">
              <%= form_for @customer.new, :html => {:id => 'register'}, :method => 'post' do |f| %>
              <%= f.hidden_field(:event_id, value: flash[:id]) %><br />
              <div class="row">
                <div class="col-sm-1 col-md-1"></div>
                <div class="col-12 col-sm-5 col-md-5">
                  <strong>First name</strong><br />
                  <%= f.text_field(:first_name, :class => 'form-control', :placeholder => 'First name') %>
                  <span class="hint" id="firstnameerror"></span><br />
                </div>
                <div class="col-12 col-sm-5 col-md-5">
                  <strong>Last name</strong><br />
                  <%= f.text_field(:last_name, :class => 'form-control', :placeholder => 'Last name') %>
                  <span class="hint" id="lastnameerror"></span><br />
                </div>
                <div class="col-sm-1 col-md-1"></div>
              </div>
              <div class="row">
                <div class="col-sm-2 col-md-2"></div>
                <div class="col-12 col-sm-8 col-md-8">
                  <strong>Telephone #</strong><br />
                  <%= f.telephone_field(:telephone, :class => 'form-control', :placeholder => 'xxx-xxx-xxxx') %>
                  <span class="hint" id="telephonerror"></span><br />
                </div>
                <div class="col-sm-2 col-md-2"></div>
              </div>
              <% if flash[:fprice].to_i == 0 %>
              <% else %>
              <div class="row">
                <div class="col-sm-2 col-md-2"></div>
                <div class="col-12 col-sm-8 col-md-8">
                  <strong>Email</strong><br />
                  <%= f.email_field(:email, :class => 'form-control') %>
                  <span class="hint" id="emailerror"></span><br />
                </div>
                <div class="col-sm-2 col-md-2"></div>
              </div>
              <% end %>
              <div class="row">
                <div class="col-sm-1 col-md-1"></div>
                <div class="col-12 col-sm-10 col-md-10">
                  <strong>Address</strong><br />
                  <%= f.text_field(:address1, :class => 'form-control') %>
                  <span class="hint" id="addresserror"></span><br />
                  <div class="col-sm-1 col-md-1"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2 col-md-2"></div>
                <div class="col-12 col-sm-8 col-md-8">
                  <strong>City</strong><br />
                  <%= f.text_field(:city, :class => 'form-control') %>
                  <span class="hint" id="cityerror"></span><br />
                </div>
                <div class="col-sm-2 col-md-2"></div>
              </div>
              <div class="row">
                <div class="col-sm-2 col-md-2"></div>
                <div class="col-12 col-sm-8 col-md-8">
                  <strong>State</strong><br />
                  <%= f.select(:state, options_for_select([['state', 'state'],
                    ['AL', 'AL'],
                    ['AK', 'AK'],
                    ['AZ', 'AZ'],
                    ['AR', 'AR'],
                    ['CA', 'CA'],
                    ['CO', 'CO'],
                    ['CT', 'CT'],
                    ['DE', 'DE'],
                    ['FL', 'FL'],
                    ['GA', 'GA'],
                    ['HI', 'HI'],
                    ['ID', 'ID'],
                    ['IL', 'IL'],
                    ['IN', 'IN'],
                    ['IA', 'IA'],
                    ['KS', 'KS'],
                    ['KY', 'KY'],
                    ['LA', 'LA'],
                    ['ME', 'ME'],
                    ['MD', 'MD'],
                    ['MA', 'MA'],
                    ['MI', 'MI'],
                    ['MN', 'MN'],
                    ['MS', 'MS'],
                    ['MO', 'MO'],
                    ['MT', 'MT'],
                    ['NE', 'NE'],
                    ['NV', 'NV'],
                    ['NH', 'NH'],
                    ['NJ', 'NJ'],
                    ['NM', 'NM'],
                    ['NY', 'NY'],
                    ['NC', 'NC'],
                    ['ND', 'ND'],
                    ['OH', 'OH'],
                    ['OK', 'OK'],
                    ['OR', 'OR'],
                    ['PA', 'PA'],
                    ['RI', 'RI'],
                    ['SC', 'SC'],
                    ['SD', 'SD'],
                    ['TN', 'TN'],
                    ['TX', 'TX'],
                    ['UT', 'UT'],
                    ['VT', 'VT'],
                    ['VA', 'VA'],
                    ['WA', 'WA'],
                    ['WV', 'WV'],
                    ['WI', 'WI'],
                    ['WY', 'WY'],
                    ], 'state')) %><br />
                    <span class="hint" id="stateerror"></span><br />
                </div>
                <div class="col-sm-2 col-md-2"></div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-md-4"></div>
                <div class="col-12 col-sm-4 col-md-4">
                  <strong>Zip</strong><br />
                  <%= f.text_field(:zip, :class => 'form-control') %>
                  <span class="hint" id="ziperror"></span><br />
                </div>
                <div class="col-sm-4 col-md-4"></div>
              </div>
              <div class="row">
                <div class="col-sm-1 col-md-1"></div>
                <div class="col-12 col-sm-5 col-md-5">
                  <strong>Church</strong><br />
                  <%= f.text_field(:church, :class => 'form-control') %><br />
                </div>
                <div class="col-12 col-sm-5 col-md-5">
                  <strong>Gender</strong><br />
                  <%= f.select(:gender, options_for_select([['N/A', 'N/A'], ['Male', 'Male'], ['Female', 'Female']], 'N/A')) %><br /><br />
                </div>
                <div class="col-sm-1 col-md-1"></div>
              </div>
            </div>
            <div class="col"></div>
          </div>
        </div>
        <div class="container-fluid Emergencyinfo">
          <div class="row">
            <div class="col">
              <h2 class="registerhead">Emergency contact information</h2>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row form-group">
            <div class="col"></div>
            <div class="col-8">
              <div class="row">
                <div class="col-sm-1 col-md-1"></div>
                <div class="col-12 col-sm-5 col-md-5">
                  <strong>First name</strong><br />
                  <%= f.text_field(:first_name2, :class => 'form-control') %>
                  <span class="hint" id="firstnameerror2"></span><br />
                </div>
                <div class="col-12 col-sm-5 col-md-5">
                  <strong>Last name</strong><br />
                  <%= f.text_field(:last_name2, :class => 'form-control') %>
                  <span class="hint" id="lastnameerror2"></span><br />
                  <div class="col-sm-1"></div>
                </div>
                <div class="col-sm-1 col-md-1"></div>
              </div>
              <div class="row">
                <div class="col-sm-1 col-md-1"></div>
                <div class="col-12 col-sm-5 col-md-5">
                  <strong>Relationship</strong><br />
                  <%= f.text_field(:relationship, :class => 'form-control') %>
                  <span class="hint" id="relationshiperror"></span><br />
                </div>
                <div class="col-12 col-sm-5 col-md-5">
                  <strong>Telephone #</strong><br />
                  <%= f.text_field(:telephone2, :class => 'form-control', :placeholder => 'xxx-xxx-xxxx') %>
                  <span class="hint" id="telephoneerror2"></span><br />
                  <div class="col-sm-1 col-md-1"></div>
                </div>
                <div class="col-sm-1 col-md-1"></div>
              </div>
            </div>
            <div class="col"></div>
          </div>
        </div>
        <% if flash[:fprice].to_i == 0 %>
        <% else %>
        <div class="container-fluid Emergencyinfo">
          <div class="row">
            <div class="col">
              <h2 class="registerhead">Card information</h2>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col"></div>
            <div class="col-12 col-sm-8 col-md-8">
              <div class="row">
                <div class="col-sm-1 col-md-1"></div>
                <div class="col-12 col-sm-10 col-md-10">
                  <strong>Card Number</strong><br />
                  <div id="card-element"></div>
                  <div id="card-errors" role="alert" class="hint"></div><br />
                  </div>
                <div class="col-sm-1 col-md-1"></div>
              </div>
            </div>
            <div class="col"></div>
          </div>
        </div>
        <% end %>
        <div class="container">
          <div class="row">
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-12 col-sm-10 col-md-10">
              <%= f.submit "Register", :class => 'button submit' %>
              <% end %>
            </div>
            <div class="col-sm-1 col-md-1"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="button submit" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
