<article>
  <div class="container">
    <header class="row adminl text-right">
      <div class="col">
        <%= link_to 'Principal', root_path, :class => 'adminlink' %>
      </div>
    </header>
  </div>
  <div class="container text-center">
    <header class="row">
      <h1 class="col">Renovacion Catolica Caristmatica</h1>
    </header>
  </div>
  <div class="container-fluid text-center title">
		<div class="row">
      <div class="col circle1"></div>
		  <h2 class="col-9 col-sm-5">Administrative login</h2>
			<div class="col circle2"></div>
	  </div>
	</div>
  <div class="text-center">
    <% if !flash[:notice].blank? %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end  %>
  </div>
  <div class="container text-center">
    <div class="row form-group">
      <div class="col-sm-4"></div>
      <div class="col-12 col-sm-4">
      <%= form_tag(admin_attempt_login_path, :method => :post) do  %>
        <strong><%= label_tag(:username, "Username") %></strong><br />
        <%= text_field_tag(:username, params[:username], :class => 'form-control', :placeholder => 'username') %><br />
        <strong><%= label_tag(:password, "Password") %></strong><br />
        <%= password_field_tag(:password, params[:username], :class => 'form-control', :type => 'password', :placeholder => 'password') %><br />
        <%= submit_tag "Log in", :class => 'button' %>
      <% end %>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</article>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
