<article>
	<div class="container">
    <header class="row adminl text-right">
			<div class="col">
				<%= link_to 'Principal', root_path, :class => 'adminlink' %>
			</div>
    </header>
		<header class="row adminl text-right">
			<div class="col">
				<%= link_to 'Logout', logout_path, :class => 'adminlink' %>
			</div>
    </header>
  </div>
  <div class="container text-center">
    <header class="row">
      <h1 class="col">Renovacion Catolica Caristmatica</h1>
    </header>
  </div>
	<% if !flash[:notice].blank? %>
		<div class="alert alert-dismissible fade show" role="alert">
		<strong><%= flash[:notice] %>!</strong>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		</div>
	<% end  %>
	<div class="container-fluid text-center title">
		<div class="row">
		  <h2 class="col">Administrative menu</h2>
	  </div>
	</div>
	<div class="container text-center">
		<h2>Eventos</h2>
	</div>
	<div class="container text-center">
		<div class="row">
	  <% @events.each do |event| %>
			<section class="col-12 col-sm-3">
				<h3><%= event.title %></h3>
				<p class="text-justify text-center">
				<em>Fecha</em>: <%= event.date %>
				<br />
				<br />
				<em>Description</em>: <%= event.description %><br /><br />
        <em>Precio</em>: <%= number_to_currency(event.price) %><br /><br />
				<% sl = event.capacity - event.customers.size %>
				<button class="badge-btn">
					<em>Capacidad</em> <span class="badge badge-light"><%= event.capacity %></span>
				</button><br /><br />
				<% if sl > 0 %>
					<button class="badge-btn">
						<em>Espacio disponibles</em> <span class="badge badge-light"><%= sl %></span>
					</button><br /><br />
				<% else %>
					<button class="badge-btn">
						<em>Espacio disponibles</em> <span class="badge badge-light">0</span>
					</button><br /><br />
				<% end %>
				<% if event.visible %>
				  <em>Status</em>: Open<br /><br /></p>
				<% else %>
					<em>Status</em>: Closed<br /><br /></p>
				<% end %>
				<div class="row">
					<!-- Edit event Modal button <%= event.id %> -->
					<div class="col-12">
						<button type="button" title="Edit" class="button" data-toggle="modal" data-target="#EditModal-<%= event.id %>">
						  Edit
						</button>
					</div>
					<!-- Delete event Modal button <%= event.id %> -->
					<div class="col-12">
						<button type="button" title="Delete" class="button" data-toggle="modal" data-target="#DeleteModal-<%= event.id %>">
						  Delete
						</button>
					</div>
					<!-- Registered customers Modal button <%= event.id %> -->
					<div class="col-12">
						<button type="button" title="Delete" class="button" data-toggle="modal" data-target="#RegisteredModal-<%= event.id %>">
						  Registered
						</button>
					</div>
				</div>
				<!-- Edit event Modal <%= event.id %> -->
				<div class="modal fade" id="EditModal-<%= event.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Edit event</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
							<div class="container text-center">
						    <div class="row form-group">
						      <div class="col"></div>
						      <div class="col-8"><br />
                    <%= form_for event, :method => 'patch' do |f| %>
						          <%= render(:partial => 'eventForm', locals: {:f => f}) %>
						          <%= f.submit "Update event", :class => 'button submit' %>
						        <% end %>
						      </div>
						      <div class="col"></div>
						    </div>
						  </div>
				      <div class="modal-footer">
								<%= link_to 'Cancel', admin_path, :'data-dismiss' => "modal", :class => 'button' %>
				      </div>
				    </div>
				  </div>
				</div>
				<!-- Delete event Modal <%= event.id %> -->
				<div class="modal fade" id="DeleteModal-<%= event.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Delete event</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
							<div class="addmargin">
								<p>Are you sure you wanna permanetly delete this event?</p><br />
								<p>Name: <%= event.title %></p><br />
								<p>Date: <%= event.date %></p><br />
							</div>
				      <div class="modal-footer">
								<%= link_to 'Cancel', admin_path, :'data-dismiss' => "modal", :class => 'button' %>
								<%= link_to 'Delete', event_path(event), :method => 'delete', :class => 'button' %>
				      </div>
				    </div>
				  </div>
				</div>
				<!-- Registered customers Modal <%= event.id %> -->
				<div class="modal fade" id="RegisteredModal-<%= event.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Registered for: <%= event.title %></h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
							<% if event.customers.any? %>
								<div class="container">
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th scope="col">#</th>
													<th scope="col">Name</th>
													<th scope="col">Gender</th>
												</tr>
											</thead>
											<tbody>
												<% i = 0 %>
												<% event.customers.each do |p| %>
												<% i += 1 %>
												<tr>
													<td><%= i %></td>
													<td><%= p.first_name %> <%= p.last_name %></td>
													<td><%= p.gender %></td>
												</tr>
												<% end %>
											</tbody>
										</table>
									</div>
									<div class="row">
										<div class="col-12">
											<%= link_to 'Registered', event_path(event, :format => 'pdf'), :target => "_blank",:class => 'button submit' %><br /><br />
										</div>
									</div>
								</div>
							<% else %>
								<div class="text-center">
									<h2>No registered people</h2>
								</div>
							<% end %>
				      <div class="modal-footer">
								<%= link_to 'Close', admin_path, :'data-dismiss' => "modal", :class => 'button submit' %>
				      </div>
				    </div>
				  </div>
				</div>
	    </section>
		<% end %>
	  </div>
		<% unless @counter %>
		<% else %>
			<div class="row">
				<div class="col-12">
					<p># of events: <%= @counter.id  %></p>
				</div>
			</div>
		<% end %>
    <div class="row">
			<!-- Add event Modal button -->
			<div class="col-12">
				<button type="button" title="Add new event" data-backdrop="static" class="button" data-toggle="modal" data-target="#AddModal">
					Add new event
				</button>
			</div>
		</div>
		<!-- Add event Modal -->
		<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Add new event</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="container text-center">
				    <div class="row form-group">
				      <div class="col"></div>
				      <div class="col-8"><br />
				        <%= form_for @events.new, :method => 'post' do |f| %>
									<%= render(:partial => 'eventForm', locals: {:f => f}) %>
				          <%= f.submit "Add new event", :class => 'button submit' %>
				        <% end %>
				      </div>
				      <div class="col"></div>
				    </div>
				  </div>
					<div class="modal-footer">
						<%= link_to 'Cancel', admin_path, :'data-dismiss' => "modal", :class => 'button' %>
					</div>
				</div>
			</div>
		</div>
    <div class="text-center">
			<h2>Futuro eventos</h2>
		</div>
		<div class="table-responsive">
			<table class="table">
				<caption class="text-center">Futuro eventos</caption>
			  <thead>
			    <tr>
			      <th>Fecha</th>
			      <th>Evento</th>
						<th>Typo</th>
            <th colspan="2">Actions</th>
			    </tr>
			  </thead>
				<% @future_events.each do |event| %>
			  <tbody>
			    <tr class="thover">
			      <th><%= event.date %></th>
			      <td><%= event.title %></td>
						<td><%= event.kind %></td>
            <td>
							<div class="row">
								<!-- Edit future event Modal link <%= event.id %> -->
                <div class="col">
                  <a href="#EditfModal-<%= event.id %>" data-toggle="modal" >Edit</a>
									<!-- Edit future event Modal <%= event.id %> -->
									<div class="modal fade" id="EditfModal-<%= event.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Edit future event</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="container text-center">
													<div class="row form-group">
														<div class="col"></div>
														<div class="col-8"><br />
															<%= form_for event, :method => 'patch' do |f| %>
																<%= render(:partial => 'feventForm', locals: {:f => f}) %>
																<%= f.submit "Update future event", :class => 'button submit' %>
															<% end %>
														</div>
														<div class="col"></div>
													</div>
												</div>
												<div class="modal-footer">
													<%= link_to 'Cancel', admin_path, :'data-dismiss' => "modal", :class => 'button' %>
												</div>
											</div>
										</div>
									</div>
                </div>
								<div class="col">
                  <a href="#DeletefModal-<%= event.id %>" data-toggle="modal" >Delete</a>
									<!-- Delete future event Modal <%= event.id %> -->
									<div class="modal fade" id="DeletefModal-<%= event.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Delete future event</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="addmargin">
													<p>Are you sure you wanna permanetly delete this future event?</p><br />
													<p>Name: <%= event.title %></p><br />
													<p>Date: <%= event.date %></p><br />
												</div>
												<div class="modal-footer">
													<%= link_to 'Cancel', admin_path, :'data-dismiss' => "modal", :class => 'button' %>
													<%= link_to 'Delete', future_event_path(event), :method => 'delete', :class => 'button' %>
												</div>
											</div>
										</div>
									</div>
                </div>
							</div>
            </td>
			    </tr>
				</tbody>
				<% end %>
			</table>
		</div>
		<div class="row">
			<!-- Add future event Modal button -->
			<div class="col-12">
				<button type="button" title="Add new event" class="button" data-toggle="modal" data-target="#AddfModal">
					Add new future event
				</button>
			</div>
		</div>
		<!-- Add future event Modal -->
		<div class="modal fade" id="AddfModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Add new future event</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="container text-center">
						<div class="row form-group">
							<div class="col"></div>
							<div class="col-8"><br />
								<%= form_for @future_events.new, :method => 'post' do |f| %>
									<%= render(:partial => 'feventForm', locals: {:f => f}) %>
									<%= f.submit "Add new future event", :class => 'button submit' %>
								<% end %>
							</div>
							<div class="col"></div>
						</div>
					</div>
					<div class="modal-footer">
						<%= link_to 'Cancel', admin_path, :'data-dismiss' => "modal", :class => 'button' %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid title">
		<div class="row">
			<footer class="col">
				<p>©2017 my website</p>
			</footer>
		</div>
  </div>
</article>
